net:
  bindIp: 0.0.0.0
  port: 27017
setParameter:
  enableTestCommands: 1
  ttlMonitorSleepSecs: 5
storage:
  dbPath: db
  syncPeriodSecs: 60
  wiredTiger:
     engineConfig:
        cacheSizeGB: 2
processManagement:
  fork: true
systemLog:
  destination: file
  path: mongod.log
replication:
  replSetName: "rs0"